<h3>[head]</h3>

<div class="responsive-table">
	<table>
		<tr>
			<td class="left">[t_name]:</td>
			<td class="left">[name]</td>
		</tr>
		<tr>
			<td class="left hide">[t_os]:</td>
			<td class="left hide">[os]</td>
		</tr>
		<tr>
			<td class="left hide">[t_uptime]:</td>
			<td class="left hide">[uptime]</td>
		</tr>
		<tr>
			<td class="left hide">[t_channels]:</td>
			<td class="left hide">[channels]</td>
		</tr>
		<tr>
			<td class="left">[t_user]:</td>
			<td class="left">[user]</td>
		</tr>
	</table>
</div>
<br /><br />
<h3>[channel_head]</h3>
<div class="responsive-table">
	<table>
		[uchannels]
	</table> 
</div>
