<h3>[head]</h3>
<div>
	<table>
		<tr>
			<td class="left">[t_name]:</td>
			<td class="left">[name]</td>
		</tr>
		<tr>
			<td class="left">[t_os]:</td>
			<td class="left">[os]</td>
		</tr>
		<tr>
			<td class="left">[t_uptime]:</td>
			<td class="left">[uptime]</td>
		</tr>
		<tr>
			<td class="left">[t_channels]:</td>
			<td class="left">[channels]</td>
		</tr>
		<tr>
			<td class="left">[t_user]:</td>
			<td class="left">[user]</td>
		</tr>
	</table>
</div>

<h3>[users_head]</h3>
<div id="ts3users" class="responsive-table">
	<table>
		<tr>
			<td class="left">[player]</td>
			<td class="left">[channel]</td>
			<td class="left">[logintime]</td>
			<td class="left hide">[idletime]</td>
		</tr>
		[userstats]
	</table>
	[pagination]
</div>

<h3>[channel_head]</h3>
<div class="responsive-table">
	<table>
		[info]
	</table>
	<table>
		<tr>
			<td class="left" colspan="2">[uchannels]</td>
		</tr>
	</table>
</div>