<h3>[head]</h3>
<div>
	<table>
		<tr>
			<td class="left">[t_name]:</td>
			<td class="left">[name]</td>
		</tr>
		<tr>
			<td class="left">[t_os]:</td>
			<td class="left">[os]</td>
		</tr>
		<tr>
			<td class="left">[t_uptime]:</td>
			<td class="left">[uptime]</td>
		</tr>
		<tr>
			<td class="left">[t_channels]:</td>
			<td class="left">[channels]</td>
		</tr>
		<tr>
			<td class="left">[t_user]:</td>
			<td class="left">[user]</td>
		</tr>
	</table>
</div>

<h3>[users_head]</h3>
<div class="responsive-table">
	<table>
		<tr>
			<td class="left">[player]</td>
			<td class="left">[channel]</td>
			<td class="left">[logintime]</td>
			<td class="left">[idletime]</td>
		</tr>
		[userstats]	
	</table>
</div>

<h3>[channel_head]</h3>
<div class="responsive-table">
	<table>
		<tr>
			<td class="left">[uchannels]</td>
			<td class="left">
				<form name="ts" action="" method="post">
					[info]
				</form>
			</td>
		</tr>
	</table> 
</div>