<h3>[head]</h3>

	<table class="data-table">
		<tr>
			<td class="left">Server name:</td>
			<td class="left">[name]</td>
		</tr>
		<tr>
			<td class="left">Members online:</td>
			<td class="left">[presence]</td>
		</tr>
		<tr>
			<td class="left">Voice channels:</td>
			<td class="left">[channels_count]</td>
		</tr>
		<tr>
			<td class="left">Invite link:</td>
			<td class="left">[invite]</td>
		</tr>
	</table>

<h3>[channel_head]</h3>

	<table>
		[uchannels]
	</table>

<h3>[members_head]</h3>

	<table>
		[umembers]
	</table>
